---
import { Image } from 'astro:assets';
import Iphone from '../assets/iphone.png'
---
<div class="flex justify-between bg-[#2563eb] rounded-[24px] mt-20 pt-10 px-10">
    <div class="text-white">
        <h2 class="font-bold text-[44px] w-[70%]">Загрузите приложение — бесплатно! О, и это бесплатно!</h2>
        <button>Скачать приложение</button>
    </div>
    <Image src={Iphone} alt=" "/>
</div>