---
import Card from "./Card.astro";
---
<div class="mt-20">
    <h2 class="font-medium text-[32px] text-[#a3a3a3]">В приложении вы также найдете:</h2>
    <div class="grid grid-cols-3 grid-rows-2 gap-4 mt-10">
        <Card text="Полезные новости про спорт и здоровье" src="/src/assets/Megaphone.png"></Card>
        <Card text="Большой выбор активностей" src="/src/assets/sskoo.png"></Card>
        <Card text="Планы тренировок и ивенты от фондов" src="/src/assets/calendar.png"></Card>
        <Card text="Мотивирующие stepsstori от других пользователей" src="/src/assets/Lamp.png"></Card>
        <Card text="Рейтинг участников" src="/src/assets/Trophy.png"></Card>
        <Card text="Возможность выбрать фонд для благотворительности" src="/src/assets/Gift.png"></Card>
    </div>
</div>