---
import MiniCard from "./MiniCard.astro";
---
<div>
    <h2 class="font-bold text-[30px] xl:text-[48px] mt-20">Для компаний</h2>
    <div class="grid grid-cols-1 xl:grid-cols-4 gap-4 mt-10">
        <MiniCard text="Создание новостей и ивентов"> </MiniCard>
        <MiniCard text="Возможность выводить развернутую статистику"> </MiniCard>
        <MiniCard text="Вывод рейтинг 10 лучших участников"> </MiniCard>
        <MiniCard text="Автоматический пересчёт активностей в деньги"> </MiniCard>
    </div>
</div>