---
import Welcome from "../components/Welcome.tsx";
import Text from "../components/Text.tsx";
import Benefits from "../components/Benefits.tsx";
import ForCompanies from "../components/ForCompanies.tsx";
import Charities from "../components/Charities.tsx";
import Banner from "../components/Banner.tsx";
import Footer from "../components/Footer.tsx";
import AnimationLayout from "./AnimationLayout";
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Charity Steps</title>
    <meta name="description" content="Charity Steps SPA">
    <link href="/src/styles/style.css" rel="stylesheet">
    <link href="/src/assets/fonts/Inter/stylesheet.css" rel="stylesheet">
</head>
<body class="bg-[#f5f5f5] custom-font">
    <div class="container mt-[32px]">
        <AnimationLayout client:only />
    </div>
</body>
</html>